/* .container-ranking > h2 {
   
}


.recent_recipe .content_img {
    width: 20%;
    height: 80%;
    overflow: hidden;
    border-radius: 1rem;
}

.content_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content_info h2{
    width: 100%;
    font-size: max(10px , 1.2vw);
    text-shadow: none;
    padding: 0 .5rem;
}
.content_info p{
    width: 100%;
    text-align: left;
    font-size: max(8px , .8vw);
    text-shadow: none;
    padding: 0 .5rem;
}
.content_info p span{
    color: var(--color-primary);
}

.container-ranking > p{
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: max(12px , 1.2vw);
    text-decoration: underline;
    cursor: pointer;
}  */