
.container-best-recipes .content-recipe img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    z-index: 0;
    transition: opacity .3s linear;
}
.content-recipe .box-recipe{
    width: 80%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-recipe span{
    font-size: max(12px , 1.2vw);
    color: var(--color-sub-text)
}
.box-recipe h2{
    text-align: center;
    font-size: max(20px , 2vw);
    color: var(--color-text);
}
.box-recipe h3{
    font-size: max(15px , 1.5vw);
    color: var(--color-text)
}
.box-recipe .box-notes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    z-index: 1;
    background-color: #fffa;
    border-radius: .5rem;
    padding: .5rem 1rem;
}
.box-notes svg{
    font-size: max(15px , 1.5vw);
}
.box-notes svg.heart{
    color: rgb(255, 62, 62);
}
.box-notes svg.eye{
    color: rgb(0, 81, 255);
    margin-left: 1rem;
}
.box-notes span{
    font-size: max(15px , 1.5vw);
    margin: 0 .2rem;
}

.content-recipe:hover img{
    opacity: .8;
}
.content-recipe:hover .box-hover-recipe{
    display: flex;
}
.content-recipe:hover .box-recipe{
    display: none;
}
.content-recipe .box-hover-recipe{
    display: none;
    z-index: 1;
    background-color: #fffa;
    padding: 1rem;
    width: 50%;
    min-width: 200px;
    border-radius: 1rem;
    flex-direction: column;
}

.box-hover-recipe div{
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: default;
}

.box-hover-recipe div p{
    font-size: max(15px , 1.5vw);
    color: black;
    margin: 0 .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;

}
.box-hover-recipe div p svg{
    font-size: max(18px , 1.8vw);
    color: var(--color-primary);
}
