
aside .content-most-recents {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-most-recents > h2 {
    width: 100%;
    text-align: center;
    padding: .5rem;
    font-size: max(15px, 1.5vw);
}

.content-most-recents .recent-recipe {
    width: 100%;
    height: 7rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #24242420;
    border-top: 1px solid #24242420;
    border-radius: .5rem;
    margin: .1rem;
    transition: border .2s linear;
}

.content-most-recents .recent-recipe:hover {
    border-bottom: 1px solid #24242470;
    border-top: 1px solid #24242470;
}

.recent-recipe .content-img {
    width: 20%;
    height: 80%;
    overflow: hidden;
    border-radius: 1rem;
}

.content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-info h2{
    width: 100%;
    font-size: max(10px , 1.2vw);
    text-shadow: none;
    padding: 0 .5rem;
}
.content-info p{
    width: 100%;
    text-align: left;
    font-size: max(8px , .8vw);
    text-shadow: none;
    padding: 0 .5rem;
}
.content-info p span{
    color: var(--color-primary);
}

.content-most-recents > p{
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: max(12px , 1.2vw);
    text-decoration: underline;
    cursor: pointer;
} 