.content-search {
    width: 50%;
    display: grid;
    place-items: center;
}

.content-search .search{
    width: 70%;
    background-color: var(--color-second);
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
}


.content-search .search input{
    width: 95%;
    padding: .2rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.content-search .search input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.content-search .search svg{
    display: flex;
    align-items: center;
    font-size: clamp(12px , 1.2vw, 1.2rem);
    cursor: pointer;
}