:root{
  --color-primary: #FF6A28;
  --background: #E4E4E4;
  --shadow: #24242450;
}

*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

p , h1 , h2 ,h3, h4 , span, li{
  text-shadow: 3px 3px 5px var(--shadow) ;
}