@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply flex items-center gap-2 rounded-2xl border-none p-2 cursor-pointer bg-color_orange font-medium text-color_text_white
    transition-transform hover:scale-105 hover:brightness-95;
  }
  .btn-second {
    @apply flex items-center gap-2 rounded-2xl border-none p-2 cursor-pointer bg-color_red font-medium text-color_text_white
    transition-transform hover:scale-105 hover:brightness-95;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #E4E4E4;

}

a {
  all: unset
}

h1,h2,h3,h4,h5,h6,p,span{
  color: #202020;
}

@media print {
  div#root > header,
  div#root > footer,
  div#iconShare-print,
  div#preparation-information,
  div#InfoRecipeHeader-print,
  div#LikeComentsSaveButtons-print,
  div#RecipeChefInfo-print,
  div#ads-here-print,
  div#RecipeSimilarContent-print{
    display: none;
  }

  div[data-id="container-imgs"] {
    width: 150px;
    margin: 0 auto;
  }

  
}