@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary: #FF6A28;
  --color-second: #ff9161;
  --background: #E4E4E4;
  --shadow: #24242450;
  --color-text: #202020;
  --color-sub-text: #414141;
}

*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--background);

}

a{
  all:unset
}

.container{
  width: 100vw;
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}