button.primary{
    font-size: max(15px , 1.5vw);
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    padding: .5rem 1rem;
    width: max(50%, 150px);
    display: block;
    margin: 1rem auto;
    box-shadow: 3px 3px 5px var(--shadow);
    transition: all .3s linear;
}

button:hover{
    filter: brightness(1.3);
    transform: scale(1.05);
}
